{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'djnews/css/landing.css' %}"
    />
{% endblock %}
{% block content %}
    Hello, {{ user.username|default:'Guest' }}! This is your landing page.
    <div>
        <h1>ARTICLES</h1>
        <form action="" method="GET">
            <select id="category" name="category">
                <option value="All">All</option>
                {% for instance in categories %}
                    <option value="{{ instance }}">{{ instance }}</option>
                {% endfor %}
                <input type="submit" value="Filter by">
            </select>
        </form>
        <ul>
            {% for instance in articles %}
                <li name={{ instance.id }} class="article-list">
                    <h3><a href="comments\{{ instance.id }}">{{ instance.title }}</a></h3>
                    <p>{{ instance.category }}</p>
                    <h3>{{ instance.date }}</h3>
                    <h3>{{ instance.author }}</h3>
                    <p>{{ instance.article }}</p>
                    <button class="add-comment-btn btn btn-dark" onclick="generateNewCommentForm({{ instance.id }})">Add comment</button>
                    <div title="{{ instance.id }}" class="comments-container"></div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block footerScritps %}
    <script> let user = {{ user.id }}</script>
    <script src="{% static 'djnews/js/landing.js' %}"></script>
{% endblock %}
