{% extends 'base.html' %}
{% load static %}

{% block content %}
    <p>Hello, {{ user.username|default:'Guest' }}! This is your profile page.</p>
    <p>DOB: {{ profile.dob }}</p>
    <form id="favourite-category-form">
        <ul class="list-group">
            {% for newsCategory in newsCategories %}
                <li class="list-group-item"><input type="checkbox" name="favourite-news-categories"
                                                   value="{{ newsCategory.name }}"
                                                   class="favourite-category-checkbox" > {{ newsCategory.name }}</li>
            {% endfor %}
        </ul>
        <button type="submit" class="btn btn-dark" onclick="saveFavourites()">Save favourites</button>
        <p id="favourites-updated-text"></p>
    </form>
    <a href="{% url 'profile_details' %}">Change profile details</a>
    <a href="{% url 'password_change' %}">Change password</a>
{% endblock %}

{% block footerScritps %}
    <script>
        let profileId = "{{ profile.user.id }}";
        let favouriteCategories = []
        {% for favouriteCategory in favouriteCategories %}
            favouriteCategories.push("{{ favouriteCategory.name }}")
        {% endfor %}
    </script>
    <script src="{% static 'djnews/js/profile.js' %}" defer></script>
{% endblock %}
