{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.id == profile.user.id %}
        <h3>Hello, {{ user.username|default:'Guest' }}! This is your profile page.</h3>
        <h5>DOB: {{ profile.dob }}</h5>
        <form id="favourite-category-form bg-secondary text-light">
            <h5>Favourite categories:</h5>
            <ul class="list-group bg-secondary text-light">
                {% for newsCategory in newsCategories %}
                    <li class="list-group-item bg-secondary text-light"><input type="checkbox"
                                                                               name="favourite-news-categories"
                                                                               value="{{ newsCategory.name }}"
                                                                               class="favourite-category-checkbox"> {{ newsCategory.name }}
                    </li>
                {% endfor %}
            </ul>
            <button type="submit" class="btn btn-dark" onclick="saveFavourites()">Save favourites</button>
            <p id="favourites-updated-text"></p>
        </form>
    {% else %}
        <h3>Hello, {{ user.username|default:'Guest' }}! This is {{ profile.user.username }}'s profile page.</h3>
        <h5>DOB: {{ profile.dob }}</h5>
    {% endif %}
{% endblock %}

{% block footerScritps %}
    <script>
        let profileId = "{{ profile.user.id }}";
        let favouriteCategories = []
        {% for favouriteCategory in favouriteCategories %}
            favouriteCategories.push("{{ favouriteCategory.name }}")
        {% endfor %}
    </script>
    <script src="{% static 'djnews/js/profile.js' %}" defer></script>
{% endblock %}
